html {
    font-family: Asap, Helvetica, sans-serif;
    color: #333333;
    margin: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

* {
    box-sizing: border-box;
}

ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.logo {
    margin-left: 10px;
    font-size: 36px;
    font-weight: 800;
    margin-bottom:0;
    padding: 0;
}

.gray {
    color: #B6b6b6
}

.nav__bar {
    display: flex;
}

.art {
    color: #3828F3;
}

.design {
    color: #FF2DB7;
}

.underline {
    text-decoration: underline;
}

.tablink {
    cursor: pointer;
    padding: 14px 16px;
}

.opened {
    background-color: #f2f2f2;
}

.tablink:hover {
    background-color: #f2f2f2;
}

.main_home {
    background-color: #f2f2f2;
    min-height: 40rem;
}

.home_wrapper {
    max-width: 40rem;
    padding-top: 10%;
    margin: auto;
    background-color: #f2f2f2;
}

.statement {
    line-height: 1.35;
}

.container {
    margin: 50px 0;
    display: flex;
}

.content_box {
    position: relative;
    width: 45%;
    min-width: 300px;
    border: 3px solid currentColor;
    font-weight: 800;
    text-align: center;
    text-decoration: none;
    margin-right: 20px;
}

.content_box:after {
    content: "";
    display: block;
    padding-bottom: 50%;
}

.content_box > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 25%;
    margin: auto;
}

/**Art Content**/

.art_projects {
    margin: 0 auto;
    width: 100vw;
    padding-top: 3rem;
    background-color: #f2f2f2;
    padding-bottom: 8rem;
}

.intro_text {
    min-width: 360px;
    width: 70vw;
    margin: 0 auto;
}

.line {
    border: 2px solid currentColor;
    width: 82px;
    height: 6px;
    box-sizing: border-box;
    background-color: currentColor;
}

.gallery {
    margin: 0 auto;
    width: 70vw;
    padding-top: 50px;
    overflow-x: auto;
}

.gallery > a {
    text-decoration: none;
    display: flex;
    flex-shrink: 0;
}

.gallery > div {
    display: flex;
}

.gallery__work {
    width: 174px;
    height: 174px;
    background: #ffffff;
}

.border {
    border: 3px solid currentColor;
    margin-right: 2vw;
    margin-top: 20px;
}

.border:hover {
    border: 0;
}

.gallery_title {
    width: 180px;
    border-bottom: 3px solid #333333;
    border-left: 3px solid #333333;
    border-right: 3px solid #333333;
    display: flex;
    flex-direction: column;
    padding-bottom: 7px;
    background: #ffffff;
}

.gallery_title p {
    margin: 0;
    padding: 7px 0 3px 10px;
}

.medium {
    font-size: 14px;
    margin: 0;
}

.title {
    font-size: 18px;
    color: #333333;
}

.kosuth {
    background: url("media/concept.png");
    background-position: center;
    background-size: 100%;
}

.morandi {
    background: url("media/morandi.png");
    background-position: center;
    background-size: 100%;
}

.paraguas {
    background: url("media/umbrellas.png");
    background-position: center;
    background-size: 100%;
}

.surroundings {
    background: url("media/surroundings.png");
    background-position: center;
    background-size: 100%;
}

.gallery__work {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    transition: all .3s ease-out;
}

.gallery__work:hover {
    -webkit-filter: none;
    filter: none;
    width: 180px;
    height: 180px;
}

/**  Design Content  **/

.intro {
    display: block;
    width: 33rem;
    margin: auto;
    padding-top: 7%;
}

.claim {
    font-size: 30px;
    line-height: 150%;
}

.italic {
    font-style: italic;
}

.highlight {
    background: currentColor;
    mix-blend-mode: multiply;
    border-radius: 7px;
}

.green {
    background: #E3FFD1;
}

.red {
    background: #FFD1DA;
    
}

.blue {
    background: #BEFFFB;
    
} 

.yellow {
    background: #FEFFBE;
}

h3 {
    font-size: 18;
    font-weight: normal;
    font-style: italic;
    color: #505050;
    margin-bottom: 4px;
}

h4 {
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    line-height: 132%;
}

.design_projects {
    background-color: #f2f2f2;
    padding-bottom: 8rem;
}

.projects {
    width: 80% ;
    margin: auto;
    padding-top: 8rem; 
}

.projects > div {
    display: flex;
    padding-top: 1rem;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}


.box {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.thumb {
    width: 20rem;
    height: 12rem;
    margin-top: 2rem;
}


.HTN {
    background: linear-gradient(0deg, rgba(144, 225, 191, 0.7), rgba(144, 225, 191, 0.7)), url('media/HTN.png'), #F9F9F9;
    background-blend-mode: multiply, normal, normal;
    background-size: contain;
    background-position: center; 
    background-repeat: no-repeat;
}

.VN {
    background: linear-gradient(0deg, rgba(255, 157, 175, 0.7), rgba(255, 157, 175, 0.7)), url('media/vn.png'), #FFFFFF;
    background-blend-mode: multiply, normal, normal;
    background-size: contain;
    background-position: center; 
    background-repeat: no-repeat;
}

.SBS {
    background: linear-gradient(0deg, rgba(157, 161, 255, 0.6), rgba(157, 161, 255, 0.6)), url('media/sbs.png'), #FFFFFF;
    background-blend-mode: multiply, normal, normal;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}

.thumb + div {
    background: white;
    padding: 12px 12px 2px 12px;;
}

/** About **/

.about_wrapper {
    display: flex;
    justify-content: space-around;
    padding: 4rem 1rem 5rem 0;
    align-items: flex-start;
    background-color: #f2f2f2;
    flex-wrap: wrap;
}

.about_wrapper > div {
    margin-left: 0.6rem;
    margin-right: 0.6rem;
}

.contact {
    border: 2px solid black;
    width: 19.5rem;
    padding: 20px;
    background: white;
    margin-bottom: 3rem;
}

.my_name {
    margin-top:0;
}

.insta, .fb {
    width: 56px;
    padding-right: 10px;

}

.space {
    height: 30px;
}

.no_bottom_space {
    margin-bottom: 0;
}

.time {
    color: #090074;
}

.sub {
    color: #4f4f4f;
}

.medium {
    font-size: 14px;
    margin: 0;
}

.title_design {
    font-size: 18px;
    color: #333333;
    margin: 0;
    padding: 7px 0 10px 0;
}

/** Morandi **/
.showcase_art {
    width: 80%;
}

.ficha_tecnica {
    width: 100%;
    margin: 0 auto;
    padding: 40px;
}

.back {
    padding-top: 38px;
}

.work_type {
    margin-top: 0;
    font-size: 14px;
    text-transform: uppercase;
}

.morandi_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3rem 0;
}

.morandi_wrapper div {
    max-width: 500px;
    margin: 0.6rem;
}

.morandi_photo {
    width: 100%; 
    height: auto; 
}

h1 {
    margin-bottom: 5px;
}

.text_wrapper {
    background-color: #f2f2f2;
    margin: auto;
}

.text_wrapper > div {
    display: flex;
    width: 80vw;
    margin: auto;
    flex-wrap: wrap;
}

.back_text {
    margin: 0 auto;
    font-size: 12px;
}
/** Surroundings **/

.video {
    height: 0;
    position: relative;
    padding-bottom: 56.25%;
}

.video iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.video_wrapper {
    max-width: 50rem;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 100px;
}

/** Side by side **/

.showcase {
    max-width: 100vw;
    max-height: 70vh;
    background-color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
}

.description {
    width: 60%;
    margin: 3rem auto 0 auto;
}
.side_mockup {
    margin-top: 4%;
    margin-bottom: 2rem;
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.proto_person {
    background: #f2f2f2;
    border-radius: 20px;
    margin: 2rem 0;
}

.proto_foto {
    width: 100%;
    max-width: 80px;
    height: auto;
}

.ficha {
    display: flex;
    padding: 40px 0 0 40px;
}

.basic_info {
    margin-left: 2%;
    margin-top: 0;
}

.resize {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 5px; 
}

.problems {
    padding: 20px 40px 40px 40px;
}

.problems li {
    margin-top: 8px;
    list-style: circle inside none;
}

.wireframes_sbs {
    display: block;
    width: 100%;
    max-width: 60rem;
    border: 1px solid #000000; 
    margin: 6px auto 0;
}

.design_sbs {
    display: block;
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
}

.main_sbs {
    padding-bottom: 5rem;
}

h6 {
    font-size: 14px;
    font-weight: 400;
    margin: 20px 0 3px 0;
}

h6::before {
    content: "â— ";
}

.p {
    margin: 3px 0;
}

.back.sbs {
    padding-left: 4rem;
}

/**Mobile Menu**/

.navigation {
    display: block;
}

.menu {
    display: none;
}

.navigation {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background: #fff;
    position: absolute;
    left: 0;
    top: -100%;
    transition: top 350ms ease-in-out;
    z-index: 1;
    height: 30%;
    width: 100%;
}

.navigation li {
    padding-bottom: 2rem;
}



@media (max-width: 600px) {
    /**Menu icon**/

  .menu {
    display: inline-block;
    cursor: pointer;
    position: relative;
    z-index: 2;
    margin-right: 1rem;
    margin-top: 8px;
  }
  
  .bar1, .bar2, .bar3 {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 7px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-7px, 6px);
    transform: rotate(-45deg) translate(-7px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
    
    .menu-open .navigation {
        top: 0;
    }
    
    .m_opened {
        display: none;
    }
    
    .menu-open .m_opened { display: block; }
    .menu-open .m_closed { display: none; }

    /** Home* */

    .container {
        display: block;
        width: 20rem;
        margin: 3rem auto;
    }

    .content_box {
        margin: 0 auto 2rem;
    }

    .words {
        width: 20rem;
        margin: auto;
    }
    
    .nav__bar {
        display: none;
    }

    .projects > div {
        display: block;
    }

    .projects {
        width: 70%;
        margin: auto;
        padding-top: 2rem; 
     }

    .intro {
        display: block;
        width: 70%;
        margin: auto;
        padding-top: 7%;
    }

     .thumb {
         width: auto;
         margin-top: 2rem;
     }

     .about_wrapper {
        display: block;
        padding: 2.5rem 0;
        width: 27rem;
        margin: auto;
    }

    .about_main {
        background: #f2f2f2;
    }

    .contact {
        margin-bottom: 3rem;
    }
    
    .text_wrapper > div {
        display: block;
    }

    .showcase_art {
        width: 100%;
    }

    .back {
        padding: 20px 0 0 40px;
    }
    
    /** SBS **/
    .description {
        width: 80%;
        margin: 3rem auto 0 auto;
    }

}


@media (max-width: 400px ) {
    .nav__bar {
        display: none;
    }
    
    .content_box {
        margin: 0 auto 2rem;
    }

    .words {
        width: 17rem;
    }

 /** Morandi **/
 .back {
    padding: 20px 0 0 0;
}
 .ficha_tecnica {
    padding: 20px 0;
 }
  
    
 /** About **/
 .about_wrapper {
     display: block;
     padding: 2.5rem 0;
 }

 .edu, .exhibition {
     padding: 20px;
 }

 .contact {
     margin: auto;
 }

 /** Art **/
  .intro_text {
      padding: 1rem;
  }

  .gallery {
      width: 100%;
      margin: 0;
      padding: 1.5rem;
  }
 
  .gallery > div {
    width: 100vw;
    height: 300px;
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .gallery > a {
    width: 100vw;
    flex-shrink: 0;
    height: 100%;
  }

 /** Design **/
  
 .intro {
    display: block;
    width: 80%;
    margin: auto;
    padding-top: 7%;
}
 
 .intro ul li {
     padding-bottom: 8px;
 }

 .intro ul {
    padding-bottom: 12px;
 }

 .claim {
    font-size: 24px;
    line-height: 140%;
    padding-bottom: 3px;
 }
 h4 {
     font-size: 20px;
 }
 h3 {
     font-size: 16px;
 }
 
 .projects {
    width: 80%;
    margin: auto;
    padding-top: 2rem; 
 }

 .projects > div {
    display: block;
    padding-top: 0.1rem;
 }

  .box {
    margin-bottom: 2rem;
 }

  /** Morandi **/

 .proto_person {
    margin: 0.5rem 0;
 }

 .ficha {
    display: block;
    padding: 20px 0 0 20px;
 }

 .problems {
     padding: 10px 20px 30px 20px;
 }
  
  
}

